<%- include("partials/header.ejs") %>
<%- include("partials/navbar.ejs") %>

<form action="/save" method="POST">
    <label>Name</label>
        <input type="text" name="name">
        <button type="submit">Submit</button>
    </form>

<%- include("partials/footer.ejs") %>